@font-face {
  font-family: "Young Serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);
  --clr-brown-800: hsl(14, 45%, 36%);
  --clr-rose-50: hsl(330, 100%, 98%);
  --clr-rose-800: hsl(332, 51%, 32%);

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-body: 1rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;

  --ff-serif: "Young Serif", serif;
  --ff-sans: "Outfit", sans-serif;

  --spacing-05: 0.5rem;
  --spacing-10: 1rem;
  --spacing-15: 1.5rem;
  --spacing-20: 2rem;
  --spacing-25: 2.5rem;
  --spacing-30: 5rem;

  --max-content: 68ch;

  --line-height-base: 160%;
  --line-height-heading: 125%;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  font-synthesis: none;
}

img {
  display: block;
  max-width: 100%;
}

/* media queries to reduce font-sizes and spacing in smaller screens */
@media screen and (max-width: 640px) {
  :root {
    --fs-h1: 2.25rem;
    --spacing-30: 2rem;
  }
}

/* media queries that switch from card to full-width layout in mobile */
@media screen and (max-width: 480px) {
  article hgroup, article section {
    margin-inline: var(--spacing-10);
  }
}
@media screen and (min-width: 480px) {
  body {
    margin: var(--spacing-30);
  }
  article {
    padding: var(--spacing-20);
    border-radius: var(--spacing-10);
  }
  article header img {
    border-radius: var(--spacing-05);
  }
}

/* base styles */

html {
  height: 100%;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: var(--line-height-base);

  background-color: var(--clr-stone-100);
  color: var(--clr-stone-600);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-serif);
  line-height: var(--line-height-heading);
  margin-block-end: var(--spacing-10);
}

b {
  font-weight: var(--fw-bold);
}

hr {
  background-color: var(--clr-stone-150);
  border: 0;
  height: 1px;
  width: min(100%, calc(100vw - var(--spacing-20)));
  align-self: center;
}

/* recipe styles */

.recipe {
  max-width: var(--max-content);
  margin-inline: auto;
  background-color: var(--clr-white);
  padding-block-end: var(--spacing-20);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
}

.recipe header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-15);

  .recipe-title {
    margin-block-end: var(--spacing-10);
    font-size: var(--fs-h1);
    color: var(--clr-stone-900);
  }
}

.recipe-prep {
  padding: var(--spacing-15);
  background-color: var(--clr-rose-50);
  border-radius: var(--spacing-05);

  .recipe-prep-title {
    font-family: var(--ff-sans);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-h3);
    color: var(--clr-rose-800);
  }

  li::marker { color: var(--clr-rose-800); }
}

.recipe section {
  .recipe-section-title {
    color: var(--clr-brown-800);
    font-size: var(--fs-h2);
  }

  ol, ul {
    margin-inline-start: var(--spacing-20);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-05);
  }

  li {
    padding-inline-start: var(--spacing-05);
  }

  li::marker {
    color: var(--clr-brown-800);
    font-weight: var(--fw-semibold);
  }
}

.recipe table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th, td {
    padding: var(--spacing-10) var(--spacing-15);
    border-block-end: 1px solid var(--clr-stone-150);
  }

  td {
    color: var(--clr-brown-800);
    font-weight: var(--fw-bold);
  }

  tr:last-of-type {
    th, td { border: 0; }
  }
}

/* utility classes */

.margin-top-10 {
  margin-block-start: var(--spacing-10);
}

/* attribution styles */
.attribution {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
  margin: 1rem auto;
  width: max-content;
  max-width: 100%;
  font-size: 0.9rem;
  text-align: center;
  a {
    color: var(--clr-brown-800);
    font-weight: 600;
  }
  a:hover {
    text-decoration-thickness: 2px;
  }
}